<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699737210027-lc9dpag4hq5henn46ig509i1hmjln3p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699737210027-lc9dpag4hq5henn46ig509i1hmjln3p1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>699737210027-37ncbnpdu29alf19sjhq5j7r7nouu5g3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCG2dYdd-pzqbVjWzEnUuPSepwzZcfFqKc</string>
	<key>GCM_SENDER_ID</key>
	<string>699737210027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wemet2</string>
	<key>PROJECT_ID</key>
	<string>wemet-b70d2</string>
	<key>STORAGE_BUCKET</key>
	<string>wemet-b70d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699737210027:ios:43e605f66df2c7e2ca0bee</string>
</dict>
</plist>